body{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    
}
.screen{
    background-color:rgb(121, 73, 73);
    color:white;

}
button{
    background-color: rgba(119, 117, 117, 0.295);
    color:white;
}
.cal{
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    border-radius: 20px;
    border: 2px solid black;
    width:270px;
    height:500px;
    background-color: black;
}
input{
    width: 210px;
    height:50px;
}
    
.display{
    display: flex;
    justify-content: center;
    
}
.body{
    display: flex;
    justify-content: center;
    margin: 10px 2px;
    cursor: pointer;
}
.body button{
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 6px;
}